@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Homemade+Apple&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

 /* body/header skeleton */

body {
    font-family: Roboto, sans-serif;
    font-weight: 600;
    color: rgb(132,92,71);
    background-color: wheat;
}

p {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    color: rgb(132,92,71);
    font-size: 60%;
    text-transform: none;
}

h1, h2 {
    font-family: Bebas Neue, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: rgb(101,69,69);
}

h3 {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    color: rgb(132,92,71);
    font-size: 60%;
}

#logo {
    float: left;
    font-size: 400%;
    margin-left: 15px;
    margin-top: 5px;
}

#logo-img {
    background: url(../images/coffee-beans.png) no-repeat center right;
    float: left;
    width: 70px;
    height: 80px;
    background-size: 60px 60px;
}

header {
    width: 100%;
    height: 80px;
}

/* navigation */

#navigation {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 110%;
}

#navigation li {
    float: right;
    margin-right: 35px;
    list-style-type: none;
}

#navigation, #logo, #logo-img {
    line-height: 80px;
}

#navigation a {
    text-decoration: none;
    color: inherit;
}

#navigation a:hover {
    border-bottom: 2px solid rgb(132,92,71);
}

.current {
    border-bottom: 2px solid rgb(132,92,71);
}

/* main background */

#main-background {
    width: 100%;
    height: 1300px;

    overflow: hidden;
    position: relative;
}

/* form */

#form-heading {
    width: 100%;
    height: auto;
    margin: 50px 0;
}

#form-heading h2 {
    font-size: 400%;
    text-align: center;
    line-height: 55px;
}

#form-heading hr {
    border-top: 4px solid rgb(101,69,69);
    width: 300px;
    margin: 0 auto;
}

#form-section {
    font-size: 22px;
    text-align: center;
}

#form-section h5 {
    font-size: 22px;
}

form input {
    line-height: 22px;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    padding: 2px;

    width: 400px;
    float: left;
    margin-top: 60px;
    margin-left: 4.5%;
}

#send {
    background-color: rgb(101,69,69);
    font-family: Bebas Neue, sans-serif;
    font-size: 170%;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: wheat;

    width: 120px;
    height: 60px;
    position: absolute;
    right: 82px;
    bottom: 620px;
}

#send:hover {
    background-color: wheat;
    color: rgb(101,69,69);
    border: 1px solid rgb(101,69,69);
    cursor: pointer;
}

textarea {
    line-height: 22px;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    padding: 2px;

    width: 91%;
    height: 220px;
    margin: 0 4.5%;
    position: absolute;
    bottom: 750px;
    left: 0;
}

/* contact info */

#contact {
    width: 88%;
    height: 160px;
    bottom: 260px;
    position: absolute;

    background-color: rgb(101, 69, 69);
    font-weight: 500;
    font-size: 100%;

    margin: 0 4%;
    padding: 2%;
    line-height: 40px;
}

#contact-left {
    width: 50%;
    height: 100%;
    float: left;
}

#contact-right {
    width: 50%;
    height: 100%;
    float: right;
}

#contact-heading {
    font-weight: 500;
    font-size: 200%;
    color: wheat;

    padding-bottom: 5px;
}

#contact-hr {
    border-top: 2px solid wheat;
    width: 40%;
    margin: 0 auto;
    position: absolute;
}

#alt {
    color: wheat;
    float: right;
    line-height: 0;
}

#address-heading {
    color: wheat;
    font-weight: 500;
    font-size: 200%;
    padding-bottom: 4px;
}

#contact-right h2 {
    color: wheat;
    width: 100%;
    line-height: 32px;
    padding-top: 5px;
}

#contact-left h2 {
    color: wheat;
    width: 100%;
    line-height: 32px;
    padding-top: 5px;
}

#address-hr {
    border-top: 2px solid wheat;
    width: 40%;
    margin: 0 auto;

    position: absolute;
}

/* footer */

footer {
    width: 100%;
    height: 210px;

    position: absolute;
    bottom: 0;
}

.socials {
    text-align: center;
}

.socials > li {
    display: inline;
}

.socials i {
    font-size: 400%;

    margin-bottom: 100px;
    margin-left: 4%;
    margin-right: 4%;
    padding: 3%;
    color: rgb(101, 69, 69);
}

/* success page */

#thank {
    text-align: center;
    font-size: 300%;
    padding-top: 300px;

    width: 100%;
    height: 300px;
}

/* media queries */

/*large screens (1470px=>) */

@media screen and (max-width: 1470px) {

    #main-background {
        height: 1300px;
    }

    #form-section input {
        width: 92%;
        margin-left: 4%;
        margin-right: 4%;
    }

    #send {
        margin-right: 0;
        right: 0;
        bottom: 480px;
    }

    textarea {
        width: 92%;
        margin-left: 4%;
        margin-right: 4%;
        bottom: 600px;
    }

    #contact {
        bottom: 220px;
    }

    #alt {
        position: absolute;
        bottom: 10px;
        right: 10px;
        font-size: 90%;
    }

    footer {
        font-size: 80%;
        height: 150px;
    }

}

@media screen and (max-width: 800px) {

    #navigation {
        width: 100%;
        float: left;
    }

    #form-heading hr {
        width: auto;
    }

    #thank {
        width: 96%;
        font-size: 200%;
        padding-top: 160px;
        padding-left: 2%;
        padding-right: 2%;
    }

}

/* small screens (735px=>) */

@media screen and (max-width: 735px) {
    
    header {
        height: 50px;
        font-size: 80%;
    }

    #logo {
        width: 80%;
    }

    #logo-img {
        position: absolute;
        left: 320px;
    }

    #navigation {
        height: 60px;
        width: 100%;
        float: left;
    }

    #contact {
        font-size: 80%;
        height: 180px;
    }

}

@media screen and (max-width: 580px) {

    #logo-img {
        visibility: hidden;
    }

    #header {
        font-size: 60%;
        height: auto;
    }

    #logo {
        width: 100%;
    }

    #contact {
        font-size: 50%;
        line-height: 4px;
        letter-spacing: 2px;
        bottom: 160px;
    }

    #contact-left {
        overflow-x: hidden;
    }

    #alt {
        visibility: hidden;
    }

    footer {
        font-size: 50%;
        height: 100px;
    }

    #thank {
        font-size: 160%;
    }


}