@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

 /* body/header skeleton */

body {
    font-family: Roboto, sans-serif;
    font-weight: 600;
    color: rgb(132,92,71);
    background-color: wheat;
}

p {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    color: rgb(132,92,71);
    font-size: 60%;
    text-transform: none;
}

h1, h2 {
    font-family: Bebas Neue, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: rgb(101,69,69);
}

h3 {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    color: rgb(132,92,71);
    font-size: 60%;
}

#logo {
    float: left;
    font-size: 400%;
    margin-left: 15px;
    margin-top: 5px;
}

#logo-img {
    background: url(../images/coffee-beans.png) no-repeat center right;
    float: left;
    width: 70px;
    height: 80px;
    background-size: 60px 60px;
}

header {
    width: 100%;
    height: 80px;
}

/* navigation */

#navigation {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 110%;
}

#navigation li {
    float: right;
    margin-right: 35px;
    list-style-type: none;
}

#navigation, #logo, #logo-img {
    line-height: 80px;
}

#navigation a {
    text-decoration: none;
    color: inherit;
}

#navigation a:hover {
    border-bottom: 2px solid rgb(132,92,71);
}

.current {
    border-bottom: 2px solid rgb(132,92,71);
}

/* main background */

#main-background {
    width: 100%;
    height: 3900px;

    overflow: hidden;
    position: relative;
}

#main-img {
    background: url(../images/main-bg.jpg) no-repeat center center;
    width: 100%;
    height: 100%;
    background-size: cover;
    filter: contrast(0.5);

    animation-name: main-zoom;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

@keyframes main-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.05);
    }
}

/* main section */

#main-section {
    width: 100%;
    height: 800px;

    top: 0;
    position: absolute;
}

#main-text {
    font-size: 130%;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;

    width: 300px;

    margin-top: 70px;
    margin-right: 50px;
    padding: 20px;

    background-color: rgba(245, 222, 179, .7);

    top: 30px;
    right: 30px;
    position: absolute;
}

#main-text2 {
    font-size: 130%;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;

    width: 300px;

    margin-top: 300px;
    margin-left: 50px;
    padding: 20px;

    background-color: rgba(245, 222, 179, .7);

    top: 30px;
    left: 30px;
    position: absolute;
}

/* about section */

#about-section {
    font-size: 250%;
    font-family: Bebas Neue, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;

    width: 94%;
    margin: 1% 1%;
    background-color: rgba(245, 222, 179, .7);
    padding: 30px 2% 40px 2%;

    top: 800px;
    position: absolute;
}

#about-section h3 {
    padding-bottom: 29px;
}

#about-section h4 {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    color: rgb(132,92,71);
    font-size: 60%;
    text-transform: none;
}

/* why we're different section */

#different-section {
    width: 100%;
    height: 1030px;

    top: 1215px;
    position: absolute;
}

#diffright {
    width: 33%;
    height: inherit;
    float: right;

    text-align: left;
}

#diffleft {
    width: 33%;
    height: inherit;
    float: left;

    text-align: right;
}

#diffcent {
    width: 34%;
    height: inherit;
    margin: 0 auto;

    top: 0px;
    left: 33%;
    position: absolute;
}

#why {
    width: 98%;
    font-size: 400%;
    font-family: Bebas Neue, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;

    padding: 20px 30px;
    background-color: rgba(245, 222, 179, .7);

    position: inherit;

/* to fix */

    left: -4%;
    top: 47%;
}

.diffleft-section {
    width: 80%;
    float: left;
    clear: both;
    text-align: center;

    font-family: Roboto, sans-serif;
    font-weight: 300;
    font-size: 250%;
    text-transform: none;

    margin: 25% 4%;
    padding: 30px 20px;
    
    background-color: rgba(245, 222, 179, .7);
}

.diffright-section {
    width: 80%;
    float: right;
    clear: both;
    text-align: center;

    font-family: Roboto, sans-serif;
    font-weight: 300;
    font-size: 250%;
    text-transform: none;

    margin: 25% 4%;
    padding: 30px 20px;
    
    background-color: rgba(245, 222, 179, .7);
}

hr {
    border-top: 2px solid rgba(101, 69, 69, .7);
    width: 40%;
    margin: 0 auto;
    padding-bottom: 4px;
}

.diffleft-section h3 {
    font-size: 80%;
    font-family: Bebas Neue, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: rgb(101,69,69);
}

.diffright-section h3 {
    font-size: 80%;
    font-family: Bebas Neue, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: rgb(101,69,69);
}

/* opening times/location section */

#info-section {
    width: 100%;
    height: 1030px;
    top: 2245px;
    position: absolute;
}

#opentimes-heading {
    font-weight: 500;
    text-align: center;
    width: 12.65%;

    border-left: 8px solid rgb(101,69,69);
    border-right: 8px solid rgb(101,69,69);
    border-top: 8px solid rgb(101,69,69);
    background-color: rgba(245, 222, 179, .7);
    margin-left: 4%;
    padding: 10px 0;
}

#opentimes {
    background: none;
    width: 92%;
    margin: 0 4%;
    overflow: hidden;
    border-spacing: 0;
}

#opentimes th, td {
    font-family: Bebas Neue, sans-serif;
    font-weight: 100;
    background-color: rgba(245, 222, 179, .7);
    color: rgb(101,69,69);
    width: 14.3%;
    height: 200px;
    font-size: 30px;
    text-align: center;

    margin: 0 auto;
    border: 4px solid rgb(101,69,69);
    padding: 30px;
    box-sizing: border-box;
    border-collapse: collapse;
}

#opentimes {
    border: 4px solid rgb(101,69,69);
}

/* Google maps */

#map {
    width: 90.6%;
    height: 660px;
    margin: 0 4%;

    overflow: hidden;
    position: absolute;
    bottom: 400px;
    border: 8px solid rgba(245, 222, 179, .9);
}

/* contact info */

#contact {
    width: 91%;
    height: 160px;
    bottom: 408px;
    position: absolute;

    background-color: rgba(245, 222, 179, .7);
    font-weight: 500;
    font-size: 100%;

    left: 4%;
    line-height: 35px;
}

#contact-left {
    width: 47%;
    height: auto;
    float: left;
    padding: 20px;
}

#contact-right {
    width: 47%;
    height: auto;
    float: right;
    padding: 20px;
}

#contact-heading {
    font-weight: 500;
    font-size: 200%;
}

#contact-hr {
    border-top: 2px solid rgba(101, 69, 69, .7);
    width: 40%;
    margin: 0 auto;
    position: absolute;
}

#alt {
    position: absolute;
    right: 10px;
    bottom: 0;
}

#address-heading {
    font-weight: 500;
    font-size: 200%;
}

#contact-right h2 {
    width: 100%;
}

#address-hr {
    border-top: 2px solid rgba(101, 69, 69, .7);
    width: 40%;
    margin: 0 auto;

    position: absolute;
}

/* footer */

footer {
    width: 100%;
    height: 300px;

    position: absolute;
    bottom: 0;
}

.socials {
    text-align: center;
}

.socials > li {
    display: inline;
}

.socials i {
    font-size: 400%;

    margin-bottom: 100px;
    margin-left: 4%;
    margin-right: 4%;
    padding: 3%;
    color: wheat;
}

/* media queries */

/* large screens (1665px=> */

@media screen and (max-width: 1665px) {

    /* background */

    #main-background {
        height: 4200px;
    }
    
    /* why we're different section */

    #different-section {
        top: 1300px;
    }

    #diffright {
        width: 100%;
        height: 60%;
        text-align: center;
    }

    #diffleft {
        width: 100%;
        height: auto;
        text-align: center;
    }

    #diffcent {
        width: 40%;
        height: auto;
        margin: 0 30%;
        text-align: center;
        position: relative;
        left: 0;
    }

    #health {
        margin-top: 100px;
    }

    #why {
        left: 0;
        top: 0;
    }

    .diffright-section, .diffleft-section {
        margin: 0 1% 100px 1%;
        text-align: center;
        float: none;
        width: 94%;
        padding: 2%;
    }

    hr {
        width: auto;
    }

    #info-section {
        top: 2550px;
    }
}

@media screen and (max-width: 1482px) {

    #diffcent {
        width: 50%;
        margin: 0 25%;
    }

    #contact-right {
        text-align: right;
        width: 40%;
        height: 80%;
    }

    #contact-left {
        width: 40%;
        height: 100%;
    }

    #alt {
        height: 20%;
        font-size: 120%;
        line-height: 50px;
        right: 32%;
        text-align: center;
    }

}

@media screen and (max-width: 1280px) {

    #main-background {
        height: 4000px;
    }

    #about-section {
        top: 600px;
    }

    #different-section {
        top: 1200px;
    }

    #info-section {
        top: 2580px;
    }

    #contact-right {
        width: 48%;
        height: 98%;
        padding: 1%;
        text-align: left;
    }

    #contact-left {
        width: 48%;
        height: 98%;
        padding: 1%;
    }

    #alt {
        visibility: hidden;
    }

    #map, #contact {
        bottom: 300px;
    }

    #opentimes th, td {
        font-size: 20px;
        height: 120px;
    }

    #opentimes-heading {
        font-size: 100%;
        width: 12.2%;
    }

    footer {
        height: 200px;
        font-size: 80%;
    }
}

/* medium to small screens (950px=>) */

@media screen and (max-width: 950px) {

    #main-background {
        height: 3400px;
    }

    #about-section {
        font-size: 200%;
    }

    #different-section {
        top: 1100px;
        font-size: 80%;
    }

    #health {
        margin-top: 60px;
    }

    .diffright-section, .diffleft-section {
        margin-bottom: 60px;
    }

    #diffright {
        height: 42%;
    }

    #contact {
        font-size: 80%;
    }

    #opentimes th, td {
        padding: 1%;
    }

    #info-section {
        top: 2100px;
    }

    #map, #contact {
        bottom: 220px;
    }

    footer {
        font-size: 60%;
        height: 150px;
    }

}

/* small screens (800px=>) */

@media screen and (max-width: 800px) {
    
    #main-background {
        height: 3000px;
    }

    header {
        height: 50px;
        font-size: 80%;
    }

    #logo {
        width: 80%;
    }

    #logo-img {
        position: absolute;
        left: 320px;
    }

    #navigation {
        height: 60px;
        width: 100%;
        float: left;
    }

    #about-section {
        top: 500px;
        font-size: 140%;
    }

    #different-section {
        top: 900px;
    }

    #main-text {
        font-size: 80%;
    }

    #main-text2 {
        font-size: 80%;
    }

    #diffcent {
        width: 100%;
        margin: 0 auto;
        font-size: 60%;
    }

    #info-section {
        top: 1800px;
    }

    #map {
        height: 500px;
    }
}

@media screen and (max-width: 550px) {

    #main-background {
        height: 2800px;
    }

    #logo-img {
        visibility: hidden;
    }

    #header {
        font-size: 60%;
        height: auto;
    }

    #logo {
        width: 100%;
    }

    #maintext2 {
        margin-top: 280px;
    }

    #about-section {
        top: 470px;
    }

    #info-section {
        top: 1860px;
    }

    #opentimes-heading {
        font-size: 80%;
        border-left: 4px solid rgb(101,69,69);
        border-right: 4px solid rgb(101,69,69);
        border-top: 4px solid rgb(101,69,69);
    }

    #opentimes th, td {
        font-size: 80%;
        height: 80px;
        padding: 0;
        margin: 0;
        border: 2px solid rgb(101,69,69);
    }

    #opentimes {
        border: 2px solid rgb(101,69,69);
    }
    
    #map, #contact {
        bottom: 140px;
    }

    #contact {
        padding: 6px;
        height: 100px;
        line-height: 20px;
        font-size: 40%;
    }

    #different-section {
        top: 1000px;
    }

    #diffright, #diffleft {
        font-size: 80%;
    }

    footer {
        font-size: 50%;
        height: 100px;
    }

}